<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.pNg">
	<div class="sidebar-wrapper" style="background-color: rgba(43, 172, 224, 0.1)">
		<img src="assets/img/icone.png" style="margin-left: 35%;width:30%;position: absolute;border-radius: 100%"><br><br><br><br>
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Recepcionista
            </a>
        </div>
        <ul class="nav">
			<ul class="nav">
				<li>
			        <a ui-sref="inicio">
			            <i class="pe-7s-graph"></i>
			            <p>Inicio</p>
			        </a>
			    </li>				
			    <li>
			        <a ui-sref="usuario">
			            <i class="pe-7s-user"></i>
			            <p>Usuários</p>
			        </a>
			    </li>			    
			    <li>
			        <a ui-sref="consultas">
			            <i class="pe-7s-note2"></i>
			            <p>Consultas</p>
			        </a>
			    </li>			   					    
			</ul> 
        </ul>
	</div>
</div>